version: "3.8"

services:
  app:
    image: topicosg4/laravel-rsu:latest
    container_name: laravel-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - laravel-files:/var/www
    environment:
      - DB_HOST=db
      - DB_DATABASE=rsu2025_v8
      - DB_USERNAME=root
      - DB_PASSWORD=root_password
    networks:
      - laravel-network
    depends_on:
      - db

  webserver:
    image: nginx:alpine
    container_name: laravel-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - laravel-files:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel-network
    depends_on:
      - app

  db:
    image: mysql:8.0
    container_name: laravel-mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: rsu2025_v8
      MYSQL_ROOT_PASSWORD: root_password
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - laravel-network

networks:
  laravel-network:
    driver: bridge

volumes:
  mysql-data:
    driver: local
  laravel-files:
    driver: local
